# git
.config/gh/*
.config/github-copilot/*

# kitty
.config/kitty/kitty.conf.bak

# fish
.config/fish/completions/
.config/fish/conf.d/
.config/fish/functions/
.config/fish/themes/
.config/fish/fish_plugins
.config/fish/fish_variables
.config/fish/fishd.tmp.*

# vifm
.config/vifm/vifminfo.json
.config/vifm/colors

# lvim
.config/lvim/lazy-lock.json

# brew bundle
Brewfile.lock.json

# nvim
.config/nvim/lazy-lock.json

# zsh
.ztemp
