[user]
  name = Baseball Chan
  email = baseball@papabo.hk

[init]
  defaultBranch = main

[core]
  pager = delta
  editor = vim

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true    # use n and N to move between diff sections
  side-by-side = true

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
[credential]
	helper = store
